
body {
  font-family: 'Expletus Sans', cursive !important;
}

p {
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.margin-0 {
  margin: 0px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-auto {
  margin: auto;
}

.hmargin-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.vmargin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.padding-80 {
  padding: 80px;
}

.white-background {
  background-color: white;
}

.black-color {
  color: #1E1E1E;
}

.white-color {
  color: white;
}

.blue-color {
  color: #4F6DF5;
}

.blue-background {
  background-color: #4F6DF5 !important;
}

.light-blue-background {
  background-color: #F7F9FB;
}

.fixed-position {
  position: fixed;
}

.font-20 {
  font-size: 20px;
}

.font-44 {
  font-size: 44px;
}

.font-weight-600{
  font-weight: 600;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.center-align {
  text-align: center;
}

.transparent-background {
  background: transparent !important;
}

.white-border {
  border: 0.5px dotted white !important;
}

.no-decoration, a:link, a:visited, a:hover {
  text-decoration: none !important;
}

.z-index-100 {
  z-index: 100;
}

.no-border {
  border: 0 !important;
}

.bold {
  font-weight: 'bold' !important;
}

.cursor-pointer {
  cursor: pointer;
}

.textarea {
  resize: both !important;
}

.pagination {
  justify-content: center !important;
  margin-left: 5px;
}

.banner-background {
  background: url(/sample/home-center.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Product */

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: right;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
